@model Homework20.AuthModel.RegisterModel
@{ Layout = "MenuLayout"; }
<html>
<head>
    <title>Страница входа</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body class="BodyStyle">
    <header>
        <div class="DivRow">
            <h1 class="Headline">Регистрация</h1>
        </div>
    </header>
    <div class="MainDiv">
        <div>

            <form asp-action="Register" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly"></div>

                <input asp-for="LoginProp" placeholder="Логин" />

                <input asp-for="Password" placeholder="Пароль" />

                <input asp-for="ConfirmPassword" placeholder="Подтвердить пароль" />

                <input type="submit" value="Регистрация" />
            </form>
        </div>
    </div>
</body>
</html>