@{ Layout = "MenuLayout"; }
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <title>Краткая история игры Fallout. Сюжет</title>
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body class="BodyStyle">
    
    <header>
        <div class="DivRow">
            <h1 class="Headline">Сюжет Fallout: A Post Nuclear Role Playing Game</h1>
        </div>
    </header>
    <div class="MainDiv">
        <div class="DivRow">
            <main>
                <p class="RegularFontStyle">
                    Сюжетная линия Fallout основана на приключениях Выходца из Убежища (англ. Vault Dweller) (перед началом игры играющий может сам выбрать имя своему персонажу), жителя Убежища 13, получившего задание найти водяной чип, чтобы спасти родное убежище от нехватки воды. Убежище 13 должно было открыться только через 200 лет после ядерной войны, но под угрозой скорой гибели было вынуждено послать Выходца на поиски. У него было только 150 дней на нахождение чипа.
                </p>
            </main>
        </div>
    </div>
</body>
</html>
