@{ Layout = "MenuLayout"; }
<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <title>Краткая история игры Fallout</title>
    <link href="~/css/Style.css" rel="stylesheet" />
</head>
<body class="BodyStyle">
    
    <header>
        <div class="DivRow">
            <h1 class="Headline">Краткая история игры Fallout</h1>
        </div>
    </header>
    <div class="MainDiv">
        <div class="DivRow">
            <h2 class="Headline">На этом сайте будет описана краткая история игры Fallout: A Post Nuclear Role Playing Game</h2>

            <main>
                <p class="RegularFontStyle">
                    Fallout: A Post Nuclear Role Playing Game (англ. Выпадение радиоактивных осадков: постъядерная ролевая игра) — культовая компьютерная ролевая игра в мире, пережившем ядерную войну, разработанная студией Dragonplay и выпущенная 30 сентября 1997 года компанией Interplay Productions. Одно из основных произведений постапокалиптического жанра. Официально локализована и издана в России 15 февраля 2008 года компанией «1С»; ранее на российском рынке были выпущены нелицензионные версии игры, переведённые студиями «Фаргус» и «7 Волк», которая также известна как «Левая Корпорация» (точные даты выходов неизвестны). Сюжет игры нелинеен и допускает разные варианты прохождения, в том числе и присоединение главного героя к армии мутантов.
                </p>
            </main>
        </div>
    </div>
</body>

</html>
